<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="description" content="Meta Description">
	<meta name="robots" content="NOODP,NOYDIR">
	<meta http-equiv="content-language" content="es-AR">
	<meta name="author" content="Tomas Novas">
	<meta property="og:image" content="LogoUrl">
	<link hreflang="es" rel="alternate" href="URL">
	<link rel="canonical" href="URL">
	<link rel="shortcut icon" type="image/ico" href="LogoUrl">
</head>
<body>
	Hello User

	<script type="text/javascript" src="public/app.min.js"></script>
</body>
</html>